<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"/>
  </system.web>  
  <system.webServer>
    <handlers>
      <add verb="*" path="test" type="HttpHandler" name="httpHandler"/>
      <add verb="*" path="sex" type="HttpHandler" name="sexHandler"/>
      <add verb="*" path="drugs" type="HttpHandler" name="drugsHandler"/>
      <add verb="*" path="rockandroll" type="HttpHandler" name="rockandrollHandler"/>      
    </handlers>
  </system.webServer>  
  <connectionStrings>
    <add name="SOFT338_ConnectionString" connectionString="Data Source=fostvm.fost.plymouth.ac.uk; Initial Catalog=db_jholownia; Persist Security Info=true; User ID=jholownia; Password=Jan123!"/>
  </connectionStrings>    
</configuration>